.m_head
{
	width: 100%;
	height: 80px;
	background-color: #03a9f4;
	margin: 24px auto;
	position: relative;
}

.m_head>.container
{
	margin: auto;
    padding: 10px;
}

.m_logo
{    
	width: fit-content;
	margin: auto 0 auto 0;
    padding: 8px;
    color: #007ac1;
	font-family: "Verdana";
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	text-shadow: #aaa 0 0 5px;
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #007ac1;
	box-shadow: #aaa inset 0 0 5px 2px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

#request-form
{
	width: 100%;
  height: 400;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border: dashed 5px #eee;
}

#response-block:before
{
  position: absolute;
	top: -15px;
  left: 40px;
  content: "Response";
  color: #a9a9a9;
  font-size: 18pt;
  background: white;
  padding: 0 10px;
}

#response-block
{
	width: 100%;
  height: 400;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border: dashed 5px #eee;
}

#response-field
{
	width: 100%;
	height: 100%;
	resize: none;
}